Exercises/obj/Debug/netstandard2.0/Exercises.AssemblyInfoInputs.cache
Exercises/obj/Debug/netstandard2.0/Exercises.assets.cache
Exercises/obj/Debug/netstandard2.0/Exercises.csproj.CoreCompileInputs.cache
Exercises/obj/Debug/netstandard2.0/Exercises.csproj.FileListAbsolute.txt
Exercises/obj/Debug/netstandard2.0/Exercises.dll
Exercises/obj/Debug/netstandard2.0/Exercises.pdb
Main/bin/Debug/netcoreapp3.1/nunit.framework.dll
Main/obj/Debug/netcoreapp3.1/Main.genruntimeconfig.cache
Patterns/obj/Debug/netcoreapp3.1/Patterns.csprojAssemblyReference.cache
